

<div class="header">

    <mat-toolbar>

      <div class="logo"  >
        <button (click)="menuButtonClicked()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>widgets </mat-icon>
          </button>
          
          <p>Profitize</p>
    </div>

      <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with search icon">
         <mat-icon>search</mat-icon>
         <input type="text" placeholder="search">
       </button>
      

<div class="header-bar">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>person</mat-icon>
     </button>
     <span>Eva mehawish</span>


</div>
       

     </mat-toolbar>
</div>