
.sidebar{
    background-color: black;
}


.pages{
    display: flex;
    flex-direction: column;

}
#pages{
    padding-top: 40px;
}

.pages a{
    text-decoration: none;
    color:white;
    height: 40px;
    padding: 10px 0 0 10px;
}
.pages a:hover{
    background-color:white;
    color: black;
}
mat-icon{
    vertical-align: middle;
    margin-right: 14px;
}

#logout{
    margin-top: 150px;

}