<div class="sidebar">

    <!--  -->
   

    <mat-divider></mat-divider>

    <div class="pages">
        <a href=""> <mat-icon>home</mat-icon>Overview</a>
        <a href=""> <mat-icon>equalizer</mat-icon>Growth</a>
        <a href=""> <mat-icon>group</mat-icon>Customers</a>
        <a href=""> <mat-icon>event note</mat-icon>Reporters</a>
    </div>

    <mat-divider></mat-divider>

    <div class="pages" id="pages">

        <a href=""> <mat-icon>quiz</mat-icon>Support</a>
        <a href=""> <mat-icon>settings</mat-icon>Settings</a>

    </div>

    <div class="pages" id="logout">
       <a href=""><mat-icon>logout</mat-icon>Logout</a>
    </div>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem illo corrupti fugiat veritatis maiores, cupiditate ad expedita nemo magnam porro, eiu</p>
</div>

